<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>
    
 
    
    
    <style>
table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>
   

<div ng-app="myApp" ng-controller="myCtrl">

<center>
<table>
<tr>
<td>User Name: <input type="text" ng-model="username"></td>
</tr>
<tr>
<td>
City Name: <input type="text" ng-model="cityname">
</td>
</tr>
    
    <tr><td>
        
        Entered username: {{username | uppercase }}
        
        </td></tr>
     <tr><td>
        
       Entered cityname: 
{{cityname | uppercase}}
        
        </td></tr>
     <tr><td>
        
      Todays Date: {{ today | date}}
        
        </td></tr>
</table>



</center>

</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.username = "Pruthvi";
    $scope.cityname = "Bangalore";
    $scope.today = new Date();
});
</script>

</body>
</html>
