<!DOCTYPE html>
<head>
<title>
    Assignment1</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js">
    </script>
</head>

<body>

<div ng-app="" >

<center>
    <form>
      <table>
        <tr>
         <td> <h1>Enter the city Name:</h1></td> <td><input type="text" ng-model="name"></td><br>
        </tr>

     <tr>
         <td><h2>Entered city name is : <span ng-bind="name"></span> </h2></td><br>
        </tr>
     
    
        </table>
        
    </form>
    
    </center>
   
   
</div>

</body>