<!DOCTYPE html>
<head>
<title>
    Assignment4</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js">
    </script>
</head>

<body>

<div ng-app="myapp" ng-controller="Ctrl">

<center>
    
      <table>
        <tr>
         <td> <h>Enter the CD ID:</h></td> <td><input type="text" ng-model="id"></td><br>
        </tr>

     <tr>
         <td> <h>Enter the CD Title:</h></td> <td><input type="text" ng-model="title"></td><br>
        </tr>
        <tr>
         <td> <h>Enter the CD Price</h></td> <td><input type="number" ng-model="price"></td><br>
        </tr>
    
        </table>
        
    
    <h1>    Complete Entered details:<br> {{ getAllDetails() }}         </h1>
    </center>
   

</div>
<script src="assignment4.js"></script>
</body>