
<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>
    
  

<div ng-app="myapp" ng-controller="Ctrl">
<center>
    <form>
      <table>
        <tr>
         <td> <h1>Current System Date : {{ today | date }}
            
           </h1></td> 
        </tr>

     <tr>
         <td><h2>clcik to get last modified date >> <button onclick="myFunction()">Last modified Date : </button> </h2> <p id="lmod"></p></td><br>
         

        </tr>
     
    
        </table>
        
    </form>
    
    </center>
   


</div>

<script>
var app = angular.module('myapp', []);
app.controller('Ctrl', function($scope) {
    $scope.today = new Date();
});
    function myFunction() {
    var x = document.lastModified;
    document.getElementById("lmod").innerHTML = x;
}
</script>


</body>
</html>
