<!DOCTYPE html>
<html>

<head>
<title>
    Assignment5</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js">
    </script>
    
    
    <style>
    
    table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
    
    
    </style>
</head>

<body>
<div ng-app="myapp" ng-controller="CdCtrl"> 
    <center>
        <h1>Parlor Name: {{ name}} <br>
        
           HeadOffice: {{ city }}
        
        </h1>

<table>
  <tr ng-repeat="x in details.cd">
       <td>{{ $index + 1 }}</td>
    <td>{{ x.title }}</td>
    <td>{{ x.language }}</td>
      <td>{{ x.price }}</td>
  </tr>
</table>
        </center>

</div>

<script>
var app = angular.module('myapp', []);
app.controller('CdCtrl', function($scope) {
    $scope.name="Sarigama Cd parlor";
     $scope.city="Plot No:123-09,4th cross,Wilson Garden,Bangalore,Karnataka";
      $scope.details = {
               
               
               
                 cd :[ {title:'Spyder',language:'telugu',price:599},
                   {title:'Vedalam',language:'tamil',price:299}, 
            {title:'DarkKnight',language:'english',price:788},
               {title:'Premam',language:'malayalam',price:346},
            {title:'Kirik Party',language:'kannada',price:990},
               {title:'Boss',language:'bengali',price:41},
            {title:'Sairaat',language:'marati',price:567},
               {title:'Largo Winch',language:'french',price:997},
            {title:'PK',language:'hindi',price:123},
               {title:'Pokiri',language:'telugu',price:567},
            {title:'Mersal',language:'tamil',price:890},
               {title:'Ghajini',language:'tamil',price:098},
            {title:'Dangal',language:'hindi',price:176},
               {title:'Jalsa',language:'telugu',price:712},
            {title:'Dangal',language:'hindi',price:055},
               {title:'Bangalore days',language:'malayalam',price:267},
            {title:'Baahubali',language:'telugu',price:555},
             {title:'Thupaki',language:'tamil',price:889}
               ]
               
        
      } });
    
    
   
</script>

</body>
</html>